<!DOCTYPE html>
<html>
<head>
<% include /Partials/head.ejs %>
</head>
<body class= "container">
<header>
        <% include /Partials/header.ejs %>
</header>
<div>
<h1>Update Project <%= index %></h1>
<hr id="underline">
<form name = "submitProjectForm" action="/updateproject/<%= index %>" method="post" enctype="multipart/form-data" onsubmit="return(validate());">
<div>
    <label>Project Name:</label> 
    <!--
    <input type="text" name="projectName" ng-minlength="5" ng-maxlength="20" value = "<%= required></br>
    !-->
    <label>Project Description:</label><textarea rows="3" cols="50"  name="projectDescription" ng-model="submit.projectDescription" ng-minlength="10" ng-maxlength="150" required value = "<%= description =%>"></textarea>
    </br>
    <label>Type:</label> <select>
        <% types.forEach(function(type) { %>
            <option value = "<%= typeId %>" <%= type.name %></option>
        <%}); %>
        
        </br>
        
    <label id="tagLabel">Tags:</label>
        <div class="tagField">
         <textarea rows="3" cols="30" name="tags" ng-model="submit.tags" ng-max="50" placeholder="Tags must be seperated by commas." value="<%= tags =%>" required></textarea><br>
        </div>
    </br>
    <label id="file">Additional Resources: </label>
    <input type="file" name="fileName" ng-filemodel ng-model="file" value="<%= filepath =%>"/><br>
    <br>
    <label id="statusLabel">Status: </label>
    <div class="status">
    <input type="radio" name="status" value="0">Active&nbsp;
    <input type="radio" name="status" value="2">Inactive<br>
    </div>
    <p style="color: red">*Note, if inactive other people will not be able to submit work</p>
    
    

    
    <button class="myButton" value="Submit" ng-click="save()">Submit</button>
</div>

</form>

</div>
<footer>
<% include /Partials/footer.ejs %>
</footer>
</body>
</html>