<!DOCTYPE html>
<html>
<head>
	<% include ./Partials/head>
</head>
<body>
 <style>
    header{
      background-color: lightblue;
      height: 80px;
	}
 </style>

<header>
	<% include ./Partials/header %>
</header>

<div class="row">
<div class="col-md-4"> <%= obj.user.profilePic %> </div>
<div class="col-md-4 col-md-offset-3"><h2> <%= obj.user.username%></h2> </div>
</div>

<h3 Top Tags </h3>
<div class="row">
<div class="col-md-3 col-md-ffset-3">
<% for(var i = 0; i < obj.projects.length; i++) { %>
	<%= obj.projects[i].tags %>
<% } %>
</div>

<h3 Submissions </h3>
<% if(locals.obj != null) { %>
	<table class="table">
	<% for(var i = 0; i < obj.submissions.length; i++) { %>
	<tr>
	<td><%= obj.submissions[i].fileName %></td>
	<td><%= obj.submissions[i].rating %></td>
	</tr>
	<% } %>
	</table>
	<% } else { %>
	<label> No submissions for this user. </label>
<% } %>

<h3 Project Requests </h3>

<% if(locals.obj != null) { %>
	<table class="table">
	<% for(var i = 0; i < obj.projects.length; i++) { %>
	<tr>
	<td><a href="/project/view"><%= obj.projects[i].name %></td>
	<td><%= obj.projects[i].description %></td>
	<td><%= obj.projects[i]createdDate %></td>
	</tr>
	<% } %>
	</table>
	<% } else { %>
	<label> No project requests for this user. </label>
<% } %>

</body>
</html>





